<h1 class="text-4xl font-bold">New Book</h1>

<form id="book-form" action="<%= books_path %>" method="post">
    <label class="block font-bold mb-2">
      Classification:
    </label>
    <div class="button-group">
      <input type="radio" name="classification" value="fictional" id="fictional">
      <label for="fictional" class="button">Fictional</label>
      <input type="radio" name="classification" value="factual" id="factual">
      <label for="factual" class="button">Factual</label>
    </div>

    <label class="block font-bold mb-2">
      Category:
    </label>
    <div id="category-options" class="button-group">
      <!-- The options will be dynamically populated here -->
    </div>

    <label class="block font-bold mb-2">
      Subcategory:
    </label>
    <div id="subcategory-options" class="button-group">
      <!-- The options will be dynamically populated here -->
    </div>

    <label for="title" class="block font-bold mb-2">
      Title:
    </label>
    <input type="text" name="title" id="title" class="w-full py-2 px-3 border border-gray-300 rounded">
  </div>

  <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    Create Book
  </button>
</form>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var categories = <%= raw Category.formatted_categories.to_json %>;
    var classificationRadios = document.querySelectorAll('input[name="classification"]');
    var selectedClassification = "";
    var selectedCategory = "";

    function updateCategoryOptions() {
      selectedClassification = document.querySelector('input[name="classification"]:checked').value;
      var categoryOptions = categories[selectedClassification];
      var categoryOptionsHTML = Object.entries(categoryOptions).map(function([category, subcategories]) {
        return `<input type="radio" name="category" value="${category}" id="${category}" required>
          <label for="${category}" class="button">${category}</label>`;
      }).join('');

      document.getElementById('category-options').innerHTML = categoryOptionsHTML;

      // Add event listener to category radios
      var categoryRadios = document.querySelectorAll('input[name="category"]');
      categoryRadios.forEach(function(category) {
        category.addEventListener('change', function() {
          updateSubcategoryOptions();
        });
      });
    }

    function updateSubcategoryOptions() {
      selectedCategory = document.querySelector('input[name="category"]:checked').value;
      var subcategoryOptions = categories[selectedClassification][selectedCategory];
      var subcategoryOptionsHTML = subcategoryOptions.map(function(subcategory) {
        return `<input type="radio" name="subcategory" value="${subcategory}" id="${subcategory}" required>
          <label for="${subcategory}" class="button">${subcategory}</label>`;
      }).join('');

      document.getElementById('subcategory-options').innerHTML = subcategoryOptionsHTML;
    }

    // Automatically select "Factual" if no classification is selected initially
    if (!document.querySelector('input[name="classification"]:checked')) {
      document.getElementById('factual').checked = true;
    }

    // Initialize category and subcategory options based on default selected classification and category
    updateCategoryOptions();

    // Add event listener to classification radios
    classificationRadios.forEach(function(radio) {
      radio.addEventListener('change', updateCategoryOptions);
    });
  });
</script>
