/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.button-group input[type="radio"] {
  display: none;
}

.button-group label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f5f5f5;
  cursor: pointer;
  min-width: 292px;
  text-align: center;
}

.button-group label:hover {
  background-color: #e0e0e0;
}

.button-group input[type="radio"]:checked + label {
  background-color: #2196f3;
  color: white;
}

.detail-number::-webkit-inner-spin-button,
.detail-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}
.detail-number {
  -moz-appearance: textfield;
  appearance: textfield;
  border: none;
  user-select: none;
	cursor: pointer;
}

.loader {
	--color: white;
	--size-square: 1.3vmin;
	
	display: block;
	position: relative;
	width: 50%;
	display: grid;
	place-items: center;
  bottom: 5px;
}

.loader::before,
.loader::after {
	content: '';
	box-sizing: border-box;
	position: absolute;
	width: var(--size-square);
	height: var(--size-square);
	background-color: var(--color);
}

.loader::before {
	top: calc(50% - var(--size-square));
	left: calc(50% - var(--size-square));
	animation: loader-a 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

.loader::after {
	top: 50%;
	left: 50%;
	animation: loader-b 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

@keyframes loader-a {
	0%, 100% {
		transform: none;
	}
	
	25% {
		transform: translateX(100%);
	}
	
	50% {
		transform: translateX(100%) translateY(100%);
	}
	
	75% {
		transform: translateY(100%);
	}
}

@keyframes loader-b {
	0%, 100% {
		transform: none;
	}
	
	25% {
		transform: translateX(-100%);
	}
	
	50% {
		transform: translateX(-100%) translateY(-100%);
	}
	
	75% {
		transform: translateY(-100%);
	}
}
